In [1]:
import numpy as np
import pandas as pd

Generamos las observaciones

In [25]:
n = 5000
seed = 7672

# Elegimos la semilla 
np.random.seed(seed)

# Generamos los datos
data = pd.DataFrame()

edad_valores = np.concatenate([np.random.normal(20, 2.5, 2500), np.random.normal(25, 3, 2500)])
data['edad'] = edad_valores
exper_valores = np.concatenate([np.random.normal(1.76, 0.5, 2500), np.random.normal(2.3, 0.75, 2500)])
data['exper'] = exper_valores

# Centramos con respecto a la media
data['edad_c'] = data['edad'] - data['edad'].mean()
data['exper_c'] = data['exper'] - data['exper'].mean()

data['edad_c2'] = data['edad_c'] * data['edad_c']
data['exper_c2'] = data['exper_c'] * data['exper_c']

data['edadexper'] = data['edad_c'] * data['exper_c']

# Más variables
data['epsilon'] = np.random.normal(0, 0.5, n)
data['trat'] = 1
data.loc[2500:5000, 'trat'] = 0

In [29]:
# Resultados potenciales
data['y0'] = 15000 + 10.25*data['edad_c'] + 10.5*data['edad_c2'] + 1000*data['exper_c'] - 10.5*data['exper_c2'] + 500*data['edadexper'] + data['epsilon']
data['y1'] = data['y0'] + 2500 + 100*data['edad_c'] + 1000*data['exper_c']

<p>Se considera que la población \(U\) de individuos es "grande" y los datos observados para cada individuo \(u\) son los valores de \(\text{trat}\) y \(y_u\)</p>
<p>La información que obtenemos se refiere a:</p>
<ul>
    <li>\(\mathbb{E}(y_u | \text{trat} = 1) = \mathbb{E}(Y_0 | \text{trat} = 0)\)</li>
    <li>\(\mathbb{E}(y_u | \text{trat} = 0) = \mathbb{E}(Y_1 | \text{trat} = 1)\)</li>
</ul>

(x^2\)

In [33]:
data

,edad,exper,edad_c,exper_c,edad_c2,exper_c2,edadexper,epsilon,trat,y0,y1
0,16.661929,1.106669,-5.865381,-0.927057,34.402693,0.859435,5.437543,0.036857,1,17083.835338,18070.240143
1,14.810390,2.221546,-7.716920,0.187819,59.550857,0.035276,-1.449386,0.144101,1,15009.085486,16925.212703
2,20.261478,1.851853,-2.265832,-0.181874,5.133996,0.033078,0.412096,0.200747,1,15054.709588,17146.252496
3,22.659252,1.240050,0.131942,-0.793677,0.017409,0.629923,-0.104719,-0.529379,1,14148.355383,15867.872915
4,20.413488,1.206223,-2.113822,-0.827503,4.468245,0.684761,1.749194,0.247134,1,15065.401227,16526.516028
...,...,...,...,...,...,...,...,...,...,...,...
4995,26.064104,2.799140,3.536794,0.765414,12.508909,0.585859,2.707111,-0.333215,0,17280.080734,20899.174134
4996,23.477224,1.518731,0.949914,-0.514995,0.902337,0.265220,-0.489201,-0.824347,0,14256.006203,16336.002509
4997,31.332526,1.705768,8.805217,-0.327958,77.531838,0.107557,-2.887743,-0.426920,0,14130.951509,17183.514902
4998,23.290863,1.846960,0.763553,-0.186766,0.583014,0.034882,-0.142606,0.364564,0,14755.876820,17145.465701
4999,26.243550,1.881522,3.716240,-0.152205,13.810442,0.023166,-0.565630,-1.223476,0,14746.614799,17466.034040